body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

.bdy {
    background-color: blue;
}

.main-box {
    width: 70%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 24px 24px 24px 24px;
    box-shadow: 0px 0px 53px 7px rgba(0, 0, 0, 0.8);
    border: 4px solid #3a0202;
    background-image: linear-gradient(to top, #7c0606, #650311, #4c0614, #330912, #1c0209);
    background-repeat: no-repeat;
}

.heading {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    border-radius: 10px;
}

.head {
    text-align: center;
    padding: 10px;
    color: rgb(250, 189, 189);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.color-picker {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#btn {
    border-radius: 21px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    display: block;
    margin: 25px auto;
    background-color: #ec436836;
}

.button {
    display: block;
    margin: 25px auto;
    box-sizing: border-box;
    width: 200px;
    height: 42px;
    cursor: pointer;
    padding: 0 20px;
    overflow: hidden;
    border: none;
    border-radius: 21px;
    font: normal 20px/normal "Antic", Helvetica, sans-serif;
    color: rgba(140, 140, 140, 1);
    background: rgba(40, 40, 40, 0.4);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
}

.button:hover {
    color: rgba(181, 181, 181, 1);
    background: rgba(0, 0, 0, 0.4);
}

.enjoy-css {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    border: none;
    font: normal 72px/normal "Passero One", 'Hanalei Fill', cursive, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 0 1px 0 rgb(204, 204, 204), 0 2px 0 rgb(201, 201, 201), 0 3px 0 rgb(187, 187, 187), 0 4px 0 rgb(185, 185, 185), 0 5px 0 rgb(170, 170, 170), 0 6px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.298039), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.247059), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.14902);
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.enjoy-css:hover {
    color: rgb(247, 143, 125);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1), 0 2px 0 rgba(255, 255, 255, 1), 0 3px 0 rgba(255, 255, 255, 1), 0 4px 0 rgba(255, 255, 255, 1), 0 5px 0 rgba(255, 255, 255, 1), 0 6px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.298039), 0 3px 5px rgba(0, 0, 0, 0.2), 0 -5px 10px rgba(0, 0, 0, 0.247059), 0 -7px 10px rgba(0, 0, 0, 0.2), 0 -15px 20px rgba(0, 0, 0, 0.14902);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

@media only screen and (max-width: 600px) {
    .head {
        font-size: 90%;
    }
    .enjoy-css {
        font-size: 40px;
    }
    .button {
        width: 150px;
    }
    #btn {
        width: 100px;
    }
}